.listing {
  line-height: 1.5;
  font-size: 14px;
  color: #1a202c;
}

.listing h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #4a5568;
}

.listing strong {
  font-weight: 700;
}

.listing p {
  margin-bottom: 10px;
}

.listing ul {
  margin-bottom: 10px;
  text-indent: 1rem;
}

.listing li {
  list-style-type: disc;
}

.listing div {
  margin-bottom: 10px;
}

.listing br {
  display: none;
}
